/*
Plugin Name: WP-Digg Style Paginator
Plugin URI: http://www.mis-algoritmos.com/2007/09/09/wp-digg-style-pagination-plugin-v-10/
Author: Victor De la Rocha
Author URI: http://www.mis-algoritmos.com
*/
div.pagination {
	font-size: 11px;
	font-family: Tahoma, Arial, Helvetica, Sans-serif;
	background-color:#3e3e3e;
	color: #fff;
}

div.pagination a {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	background-color:#3e3e3e;
	text-decoration: none; /* no underline */
	color: #fff;
}
div.pagination a:hover, div.pagination a:active {
	background-color:#ec5210;
	color: #fff;
}
div.pagination span.current {
	padding: 2px 5px 2px 5px;
	margin: 2px;
		font-weight: bold;
		background-color: #313131;
		color: #fff;
	}
div.pagination span.disabled {
		padding: 2px 5px 2px 5px;
		margin: 2px;
		background-color:#3e3e3e;
		color: #868686;
	}