<% include templates/minheader %>
 <div class="container">
 	<p>&nbsp;<br />&nbsp;<br />&nbsp;</p>
   <div class="alert alert-error alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Message!</strong> <%= message%>
  </div>
  <p><a href="/login" >Login</a></p>
  </div>
<% include templates/minfooter %>
		
		



